<!-- FIXME:  Display any superhero not just WonderWoman -->
<div class="card" style="width: 18rem;">
  <div class="card-header font-weight-bold h2">Wonder Woman</div>
  <img class="card-img-top" src="https://www.superherodb.com/pictures2/portraits/10/100/807.jpg" alt="Wonder Woman">
  <div class="card-body">
    <div><span class="font-weight-bold mr-2">Name:</span>Diana Prince</div> <!--hero's name-->
    <div><span class="font-weight-bold mr-2">Race:</span>Amazon</div> <!-- hero's race-->
    <div><span class="font-weight-bold mr-2">Alignment:</span>GOOD</div> <!-- hero's alignment, in all caps-->
    <a href="#" class="card-link float-right">Details...</a> <!-- this should go to the details page for the specified card -->
  </div>
</div>
