<!-- FIX ME - build from the active superhero -->
<div class="row">
  <div class="col-4">
    <img src="https://www.superherodb.com/pictures2/portraits/10/100/791.jpg" />
  </div>

  <div class="col-8">
    <h1 class="text-center">Superman</h1>
    <div class="row">
      <div class="col-12">
        <div class="h4">Biography</div>
        <div>Biography Data goes here</div>
      </div>
    </div>
      <div class="row mt-5">
        <div class="col-6">
          <div class="h4">Powerstats</div>
          <div>Powerstat data goes here</div>
        </div>
        <div class="col-6">
          <div class="h4">Appearance</div>
          <div>Appearance data goes here</div>
        </div>
      </div>
  </div>

</div>
